* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  font-size: 20px;
  font-family: Calibri;
  background-color: white;
  color: black;
}
nav .logo a{
  font-weight: 700;
  font-family: Broadway;
  font-size: 22px;
  text-decoration: none;

  letter-spacing: 1px;
  color: black;
  
}
nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 32%;
}
button:active{
  transform:scale(1.1);
}
.about-container {
  width:90%;
  height:330px;
  background-color: #FFFFFF;
  border-radius:20px;
  transform: translateY(15%);
  box-shadow:2px 2px 12px rgba(0,0,0,0.2);
  display: flex;
  margin: -7% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  
               
}
.about-text{
  width:950px;
    line-height: 1.5rem;
}
.about text p:nth-child(1){
  color:#3a3a3a;
  font-family: myriad pro;
  font-weight: normal;
  font-size:14px;
  line-height:0px;
  margin: 20px;

}
.about-text p:nth-child(2){
  color:#3e3d3d;
  font-size:20px;
  font-family: myriad pro;
  font-weight: bold;
  line-height:20px;
  margin: 6px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
  color:#7e7d7d;
  font-family:calibri;
  font-size:16px;
  margin: 19px;
}
.about-text button{
  width:120px;
  height:40px;
  color:#FFFFFF;
  outline:none;
  border:none;
  margin:0px 10px;
  cursor: pointer;
  font-family:calibri;
  background-color:#262525;
}
.text-container p:nth-child(1){
  font-family:'calibri';
  font-weight:bold;
  color: rgb(197, 197, 197);
  font-size: 22px;
}
.text-container p:nth-child(2){
  font-family:'calibri';
  font-weight:bold;
  letter-spacing:1px;
  color:white;
  font-size:30px;
}
.text-container p:nth-child(3){
  font-family: myriad pro regular;
  color: #c9c9c9;
  font-size:25px;
  line-height:30px;
}
.text-container p{
  line-height:0px;
  margin:45px 0px 25px;
}
.text-container{
  position: absolute;
  left:13%;
  top:42%;
  transform:translate(-13%,-42%);
}
.text-container button{
  width:130px;
  height:42px;
  border-radius:10px;
  font-family:calibri;
  font-weight:bold;
  font-size:14px;
  outline:none;
  margin:0px 10px;
}
.hire-btn {
  border:2px solid#373636;
  color:373636;
  cursor: pointer;
}
.down-cv{
  background-color: #0b0b0b;
  color:#FFFFFF;
  border:none;
  cursor: pointer;
}

.App {
    width: 99vw;
    min-height: 100vh;
    background: #1c1e27;
    display: flex;
  }
  nav .nav-links a {
    font-size: 18px;
    font-weight: normal;
  }
  nav .nav-links a:hover {
   border-bottom: 1px solid black;
   cursor: pointer;
  }
  img {
    display: block;
    cursor: pointer;
  }
  
  .container {
    margin: auto;
    width: 100%;
    max-width: 540px;
  }
  
  .container .selected {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 4px solid white;
  }
  
  .container .imgContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0 0 0;
  }
  
  .container .imgContainer img {
    width: 100px;
    height: 100px;
    margin: 5px 0;
  }
  .contact-me{
    width:100%;
    height:380px;
    background-color:#1c1e27;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-me p{
    color: #FFFFFF;
    font-size:30px;
    font-family: calibri;
    font-weight: bold;
}
.contact-me button{
    width:200px;
    height:40px;
    background-color: #FFFFFF;
    outline: none;
    border:none;
    margin-top: 40px;
    font-size:14px;
    font-weight:bold;
    cursor: pointer;
}
.fixed-misc {
  position: fixed;
  top: 50%;
  right: -40px;
  transform: rotate(-90deg);
  font-weight: normal;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: 1.5px;
  color: white;
  mix-blend-mode: difference;
  z-index: 8;
}
footer{
  height:150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer p{
  font-family:calibri;
}
footer p:nth-child(1){
  font-size: 30px;
  color:#191919;
  line-height:40px;
}
footer p:nth-child(2){
  font-size: 16px;
  color:#7e7d7d;
  width:600px;
  line-height: 60px;
  text-align: center;
}
.tworca{
  color:#565555;
  font-size:15px;
  line-height: 50px;
  position:absolute;
  left:50%;
  bottom:50px;
  transform:translateX(-50%);
}
  
  